* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
display: flex;
align-items: center;
justify-content: space-between;
}
.container {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-li {
}
.header-a {
}
